:root {
  --primary-color: #136c9d;
}

.blogPost {
  padding: 2rem;
}

.blogHeader {
  margin-bottom: 1.5rem;
  box-shadow: 0 !important;
}

.blogTitle {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.blogMeta {
  /* display: flex; */
  /* justify-content: space-between; */
  font-size: 0.9rem;
  color: #666;
}

.blogParagraph {
  line-height: 1.8;
  color: #333;
  margin-bottom: 1.5rem;
}

.blogParagraph p {
  margin-bottom: 1rem;
}

.blogParagraph strong {
  font-weight: 600;
}

.blogParagraph em {
  font-style: italic;
}

.imageSlider {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 1rem;
}

.sliderWrapper {
  width: 100%;
  overflow: hidden;
}

.sliderContainer {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.sliderImageWrapper {
  flex: 0 0 100%;
  width: 100%;
}

.sliderImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.sliderDots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.sliderDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.activeDot {
  background-color: #136c9d;
}

@media (max-width: 768px) {
  .blogPost {
    padding: 1.5rem;
  }

  .blogTitle {
    font-size: 1.5rem;
  }

  .blogMeta {
    flex-direction: column;
  }
}

.adminControls {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown button {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
}

.dropdown button:hover {
  background-color: #f5f5f5;
}

.blogHeaderContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blogActions {
  display: flex;
  gap: 10px;
}

.editButton,
.deleteButton {
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5rem;
}

.editButton {
  color: var(--primary-color);
}

.deleteButton {
  color: #f44336;
}

.editButton:hover,
.deleteButton:hover {
  opacity: 0.5;
}
