.hero-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.hero-content {
  position: absolute;
  margin: 0 auto;
  padding-top: 50px;
  left: 25%;
  color: white;
  z-index: 3;
}

.hero-content h1 {
  font-size: 44px;
  font-weight: 700;
}

.paragraph {
  display: flex;
  align-items: center;
}

.paragraph p {
  font-size: 18px;
}

.line {
  height: 2px;
  width: 80px;
  background-color: #5584b6;
  margin-right: 15px;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

.hero-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-boxes {
  display: flex;
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  width: 50%;
  justify-content: space-between;
  transition: 0.1s ease;
}

.box {
  background-color: #136c9d;
  padding: 25px;
  color: white;
  flex: 1;
  min-width: 220px;
  transition: 0.5s ease;
}

.box:hover {
  transform: scale(1.009);
}

.box1 {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.box2 {
  background-color: #2d3665;
}

.box3 {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.box-title {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.box-title h2 {
  font-size: 1.4rem;
  margin: 0;
  font-weight: 600;
}

.box-icon {
  font-size: 2rem;
  margin-right: 10px;
}

.box > p {
  margin-bottom: 20px;
}

.box-btn {
  display: flex;
  align-items: center;
}

.box-btn a {
  padding: 8px 15px;
  background-color: #2d3665;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: 0.2s ease-in-out;
}

.box-btn a:hover {
  opacity: 80%;
}

.b2 .box-btn a {
  background-color: #136c9d;
}

.btn-arrow {
  padding: 12.25px 10px;
  background-color: #d9d9d9;
  color: #136c9d;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-arrow:hover {
  opacity: 80%;
}

.rtl .box1 {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rtl .box3 {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 1440px) {
  .overlay-boxes {
    width: 80%;
  }

  .hero-content {
    left: 145px;
  }

  .box {
    padding: 15px;
  }
}

@media (max-width: 1024px) {
  .overlay-boxes {
    width: 95%;
  }

  .hero-content {
    left: 30px;
  }

  .box {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .overlay-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -115px;
  }

  .hero-content {
    padding-top: 100px;
    left: 20px;
  }

  .box {
    padding: 15px;
    flex: 1;
    max-width: 100px;
  }

  .box-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .box-title h2 {
    font-size: 1.2rem;
    margin: 0;
  }

  .box-icon {
    font-size: 1.6rem;
    margin-right: 10px;
  }

  .box > p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .box-btn a {
    padding: 4px 10px;
  }

  .btn-arrow {
    padding: 7.6px 6px;
    border: none;
  }
}

@media (max-width: 690px) {
  .hero-container {
    height: 300px;
  }

  .hero-image {
    height: 350px;
  }

  .hero-image img {
    height: auto;
    object-fit: contain;
  }

  .rtl .box1 {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .rtl .box3 {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .overlay-boxes {
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: -230px;
    left: 150;
    padding: 0 15px;
  }

  .box1 {
    /* border-top-left-radius: 0; */
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
  }

  .box3 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .hero-content {
    margin: 0 auto;
    padding-top: 60px;
    color: white;
    z-index: 3;
  }

  .hero-content h1 {
    font-size: 34px;
  }

  .hero-content .paragraph p {
    font-size: 18px;
  }

  .line {
    width: 50px;
  }

  .box {
    padding: 15px;
    width: 90%;
    max-width: 400px;
  }

  .box:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  .hero-content {
    padding-top: 40px;
    left: 20px;
  }

  .overlay-boxes {
    top: 180px;
  }

  .hero-content h1 {
    font-size: 26px;
  }

  .line {
    font-size: 14px;
  }

  .hero-content .paragraph p {
    font-size: 14.2px;
  }
}

@media (max-width: 390px) {
  .hero-content h1 {
    font-size: 1.2rem;
  }

  .overlay-boxes {
    top: 150px;
  }

  .hero-content .paragraph p,
  .line {
    font-size: 14px;
  }

  .line {
    width: 30px;
  }
}

@media (max-width: 360px) {
}

/* RTL Specific Styles */
.rtl .hero-content {
  right: 25%;
  left: auto;
}

.rtl .line {
  margin-right: 0;
  margin-left: 15px;
}

.rtl .box-icon {
  margin-right: 0;
  margin-left: 10px;
}

.rtl .box-btn a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rtl .btn-arrow {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Update media queries for RTL */
@media (max-width: 1440px) {
  .rtl .hero-content {
    right: 145px;
    left: auto;
  }
}

@media (max-width: 1024px) {
  .rtl .hero-content {
    right: 30px;
    left: auto;
  }
}

@media (max-width: 768px) {
  .rtl .hero-content {
    right: 20px;
    left: auto;
  }
}

@media (max-width: 500px) {
  .rtl .hero-content {
    right: 20px;
    left: auto;
  }
}
