:root {
  --prm-clr: #2d3665;
  --scnd-clr: #136c9d;
}

/* General Section Styling */
.testimonials-section {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  margin-bottom: 10px;
  color: #4b5563;
  text-align: inherit;
  font-size: 3rem;
  font-weight: 600;
}

.subtitle {
  margin-bottom: 20px;
  color: var(--scnd-clr);
  text-align: center;
  font-size: 1.2rem;
  opacity: 70%;
}

/* Background Gradient */
.background-gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 18rem;
  background: linear-gradient(
    152.92deg,
    rgba(192, 132, 252, 0.2) 4.54%,
    rgba(232, 121, 249, 0.17) 34.2%,
    rgba(192, 132, 252, 0.1) 77.55%
  );
}

/* Testimonial Slider */
.testimonial-slider {
  position: relative;
  width: 600px;
  height: 277px;
  margin: 0 auto;
  overflow: hidden;
}

.testimonial-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.testimonial-slide.active {
  opacity: 1;
}

.dots {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .dots {
    margin: 0;
  }
}

/* Add RTL support for the slider */
[dir="rtl"] .testimonial-slider {
  direction: ltr;
}

[dir="rtl"] .dots {
  direction: ltr;
}
